html {
	height: 100%;
}

body {
	margin: 0;
	font: normal 16px/24px Arial, sans-serif;
	min-width: 320px;
	position: relative;
	height: 100%;
}

p {
	margin: 0;
}

.container {
	margin: 0 auto;
	padding: 16px;
	display: flex;
	justify-content: space-between;
	/* max-width: 1200px; */
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	background: url("../images/river.jpg");
}

.div-popup {
	position: fixed;
	top: 300px;
	left: 50%;
	margin-left: -250px;
	width: 450px;
	background: #fff;
	border-radius: 10px;
	padding: 25px;
	color: #000;
}

/* popup */
.popup-desk {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.3);
}
.popup-desk.active {
	display: block;
}
.popup {
	position: absolute;
	left: calc(50% - 150px);
	top: 300px;
	width: 300px;
	background: #fff;
	border-radius: 20px;
	padding: 30px;
	box-sizing: border-box;
}
.gorod p {
	text-align: center;
	margin-bottom: 10px;
}
.gorod button {
	border: none;
	color: white;
	width: calc(50% - 10px);
}
.gorod button:first-of-type {
	background: green;
	margin: 0 10px 0 0;
}
.gorod button:last-of-type {
	background: red;
	margin: 0 0 0 10px;
}
.lightbox {
	left: 30px;
	right: 30px;
	top: 30px;
	width: auto;
}
.lightbox img {
	max-width: 100%;
}
.cross {
	position: absolute;
	right: 10px;
	top: 5px;
	color: red;
	font: bold 30px Arial;
	transform: rotate(45deg);
	cursor: pointer;
}

/* header */ /*  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

header {
	flex: none;
}

.topheader {
	/* background: #000; */
	color: #fff;
	background: url("../images/stars.jpg");
}

.mainheader {
	/* background: #fff; */
	height: 132px;
	background: url("../images/sky5.jpg");
}

.bottomheader {
	background: #f93c00;
	height: 78px;
	max-width: 100%;
}

.topmenu.container {
	justify-content: space-around;
}

#yourcity {
	cursor: pointer;
}

.div-popup {
	opacity: 0;
	display: none;
	background: #fff;
}

.topmenu {
	text-align: center;
	height: 78px;
}

.topmenu a {
	text-decoration: none;
	padding: 10px;
	display: block;
}

.line-point {
	color: #fff;
}

.pulldown-point {
	color: #f93c00;
	background: #fff;
	text-align: left;
}

.menupoint {
	display: inline-block;
	position: relative;
	margin: 0 10px;
	border: 1px solid #fff;
	border-radius: 10px;
}

.menupoint > span {
	display: none;
	position: absolute;
	top: 20px;
	left: 0;
	padding: 20px 0 5px;
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
}

.menupoint:hover > span,
.menupoint > span:hover {
	display: block;
	z-index: 1;
}

.menupoint:hover {
	border-color: #f93c00;
	background: #fff;
}

.menupoint:hover .line-point {
	color: #f93c00;
}

.pulldown-point:hover {
	color: #000;
}

.logo {
	border-radius: 50px;
	max-height: 100px;
	max-width: 100px;
	float: left;
	margin-right: 20px;
}
.mainheader .container {
	position: relative;
}
.basket {
	float: right;
	margin: 30px 0 30px 50px;
	line-height: 40px;
	font-size: 20px;
	padding: 0;
	background: rgb(5, 5, 43);
	color: #fff;
	padding: 0px 5px 0px 5px;
}

.basket-label {
	position: absolute;
	top: 80px;
	right: 0;
	display: none;
	opacity: 0;
	transition: opacity 5s ease;
}
.basket:hover + .basket-label {
	display: block;
	opacity: 1;
	transition: opacity 5s ease;
}

/* main */ /* !!!!!!!!!!!!!!!!!!!!!!!!!!!! */
main {
	flex: 1 0 auto;
	display: flex;
}

main.container {
	font: normal 16px/24px Arial, sans-serif;
}

#ct,
#ord {
	background: #fff;
	background: url(../images/bg_ct.jpg);
}

.slider {
	height: 360px;
	width: 640px;
	margin: 0 auto;
	position: relative;
}

#carouselExampleIndicators {
	margin: 0 auto;
	height: 360px;
}

img {
	width: 480px;
	margin: 0;
}

.contakts__page h2, h4 {
	padding: 5px 0 5px 0;
}

/* product */
.product {
	width: 100%;
}
.gallery-desk {
	width: 530px;
	float: left;
}
.main-image {
	padding: 24px;
	background: #fff;
	border: 1px solid #000;
	border-radius: 25px;
	
}
.gallery-desk img {
	cursor: zoom-in;
}
.gallery {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
}
.small-image {
	width: 170px;
	height: 110px;
	padding: 4px;
	background: #fff;
	border: 1px solid #000;
	border-radius: 5px;
	margin: 0;
}
.small-image img {
	max-height: 100px;
	max-width: 160px;
	margin-top: 0px;
}

.description-desk {
	margin-left: 540px;
	color:#fff;
}
 .product > h1 {
	 color: #fff;
 }

 input, textarea {
	 background: #f8683c;
 }

/* footer */
footer {
	/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
	background: url("../images/grass.png");
	color: #fff;
	display: flex;
	/* flex: 1 1 auto; */
	flex: none;
	display: flex;
	width: auto;
	height: 180px;
	font: normal 16px/24px Arial, sans-serif;
	font: #fff;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 0;
	border-top: #f93c00 2px solid;
}

ul {
	margin: 0;
	height: 160px;
}

ul a {
	font: bold 14px/24px Arial, sans-serif;
	color: azure;
}

li a {
	font: bold 14px/24px Arial, sans-serif;
	color: #fff;
}

.cotntacts {
	width: 300px;
	height: 160px;
}

.social {
	display: flex;
	padding: 20px;
	justify-content: space-between;
	padding: 10px 0 10px 0;
	height: 44px;
}

.soc__icon img {
	height: 20px;
	width: 20px;
	display: flex;
	display: inline;
}

.cars img {
	height: 40px;
	width: 40px;
}

.company,
.buyers,
.partners {
	height: 150px;
}

/* aside */ /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
aside {
	flex: none;
	width: 100px;
	background: brown;
	color: #fff;
	display: none;
}

.catmenu {
	padding: 16px;
}

.catmenu_item {
	padding: 0 20px 10px;
	position: relative;
}

.catmenu_item:before {
	content: "=>";
	position: absolute;
	left: 0;
}

.catmenu_item a {
	display: block;
	color: #fff;
	text-decoration: none;
}

.catmenu_item a:hover {
	text-decoration: underline;
}

.submenu_mover {
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
	transition: all 1s ease;
}

.open .submenu_mover {
	transform: rotate(180deg);
}

.submenu {
	height: 0;
	overflow: hidden;
}

.submenu a {
	position: relative;
	padding-left: 20px;
}

.submenu a:before {
	content: "->";
	position: absolute;
	left: 0;
}

/* catalog */
.catalog {
	display: flex;
	gap: 8px;
	/* z-index: 1; */
}

.cat-blocks {
	flex: 1 1 auto;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	gap: 8px;
}

.cat-unit {
	height: 70px;
	width: 100px;
	background: pink;
}

.cat-blocks img {
	height: 70px;
	width: 100px;
}

/* order */
.order {
	width: 100%;
}

.nihil {
	display: none;
}

.empty .nihil {
	display: block;
}

.empty .table,
.empty #orderdata {
	display: none;
}

.rub:after,
.sum:after,
.allsum:after {
	content: " \20bd";
}

.num input {
	border: 0;
	width: 50px;
}

.del {
	width: 60px;
}

.del > div {
	width: 24px;
	height: 24px;
	border-radius: 24px;
	text-align: center;
	font: normal 24px/24px Arial;
	transform: rotate(45deg);
	transform-origin: center;
	background: red;
	color: white;
	cursor: pointer;
}

/* different screens */ /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

@media (min-width: 320px) {
	.bottomheader {
		height: 210px;
	}
	.topmenu.container, .container {
		flex-wrap: wrap;
	}
	.social {
		flex-wrap: wrap;
	}
	footer {
		height: 498px;
	}	 
}
@media (min-width: 344px) {
	.bottomheader {
		height: 180px;
	}
	.topmenu.container, footer .container {
		flex-wrap: wrap;
	}
	.container {
		flex-wrap: nowrap;
	}
	
	.social {
		flex-wrap: wrap;
	}
	footer {
		height: 498px;
	}	 
}


@media (min-width: 450px) {
	.cat-blocks {
		gap: 32px;
	}
	.catalog {
		gap: 16px;
	}
	.bottomheader {
		height: 120px;
	}
	.topmenu.container {
		flex-wrap: wrap;
	}
	.social {
		height: 44px;
	}
	footer {
		height: 350px;
	}
}

@media (min-width: 576px) {
	.cat-blocks {
		gap: 32px;
	}
	.catalog {
		gap: 16px;
	}
	.bottomheader {
		height: 120px;
	}
	.topmenu.container {
		flex-wrap: wrap;
	}
	.social {
		height: 44px;
	}
	footer {
		height: 350px;
	}
	
}

@media (min-width: 703px) {
	.cat-blocks {
		gap: 4px;
	}
	aside {
		display: block;
		width: 160px;
	}
	.container {
		margin: 0;
	}
	.bottomheader {
		height: 120px;
	}
	footer {
		height: 350px;
	}
}


@media (min-width: 785px) {
	.cat-blocks {
		gap: 4px;
	}
	aside {
		display: block;
		width: 160px;
	}
	.container {
		margin: 0;
	}
	.bottomheader {
		height: 120px;
	}
	footer {
		height: 180px;
	}
	
}
@media (min-width: 800px) {
	.container {
		margin: 0 auto;
	}	
}

@media (min-width: 992px) {
	.cat-blocks {
		gap: 10px;
	}
	aside {
		width: 260px;
	}
	.container {
		margin: 0 auto;
	}
	.bottomheader {
		height: 78px;
	}
}

@media (min-width: 1200px) {
	.cat-blocks {
		gap: 22px;
	}
	.bottomheader {
		height: 78px;
	}
}

@media (min-width: 1400px) {
	.cat-blocks {
		gap: 14px;
	}
	.bottomheader {
		height: 78px;
	}
}
